.dd-wrapper {
  color: #ffffff;
  top: 30px;
  left: 15px;
  position: absolute;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  &.visible {
    opacity: 1;
    visibility: visible;
    transition: all 0.7s ease-in-out;
  }

  &.active {
    display: none;
  }

  .dd-header {
    display: flex;
    align-items: center;
    font-size: 20px;
    .dd-header-title {
      margin-right: 5px;
    }
  }

  .dd-list {
    margin: 0;

    .dd-list-item {
      list-style: none;
      background: #e8c300;
      height: 30px;
      border-radius: 5px;
      padding-top: 4px;
      margin-bottom: 0;
      text-align: center;

      & > a {
        font-size: 20px;
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
}
