@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700);

* {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  font-family: "Montserrat", sans-serif !important;
}

@mixin header-mobile {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.8;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: inline;
    width: 100px;
    height: 2px;
    background: #e8c300;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
  }
}

#home {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./images//yarn-bg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 400px;
  padding-top: 150px;

  .header {
    h1 {
      font-weight: bold;
      color: #ffffff;
      font-size: 35px;
      text-transform: uppercase;
      text-align: left;
      line-height: 1.2;
      margin-top: 0;
      letter-spacing: 0.9px;
      margin-bottom: 37px;
      text-align: center;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        display: inline;
        width: 90px;
        height: 2px;
        background: #e8c300;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 100%;
      }
    }
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    button {
      width: 130px;
      height: 40px;
      color: #ffffff;
      border-radius: 5px;
      border: none;

      &:first-of-type {
        background: #e8c300;
        margin-right: 30px;
      }

      &:last-of-type {
        background: transparent;
        border: 1px solid #ffffff;
      }
    }
  }
}

#about {
  padding: 30px 15px;

  h1 {
    @include header-mobile;
  }

  p {
    line-height: 1.67;
    text-align: left;
    margin-bottom: 0;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .about-image {
    width: 80%;
    height: 250px;
    background-image: url("./images/textile_production.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 0 10px 10px -5px;
    display: inline-block;
    position: relative;
    border-radius: 5px;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: -50%;
      transform: translate(-50%, -50%);
      width: 150px;
      height: 150px;
      border: 10px solid #e8c300;
      border-radius: 5px;
    }
  }
}

#features {
  background: #e8c300;
  background-size: cover;
  background-position: center;
  padding: 15px;

  .features-container {
    padding-top: 30px;
    background: #000000;
    border-radius: 5px;
    box-shadow: 0 0 10px;

    .features-item {
      margin-top: 40px;
      padding: 15px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        font-size: 50px;
        color: #e8c300;
      }

      h3 {
        margin-top: 20px;
        text-transform: capitalize;
        font-size: 18px;
        font-weight: bold;
      }

      p {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.79;
        letter-spacing: normal;
        text-align: center;
      }
    }
  }

  h1 {
    @include header-mobile;
    color: #ffffff;
  }
}

#services {
  padding: 30px 15px;

  h1 {
    @include header-mobile;
  }

  .service-container {
    margin-bottom: 30px;

    p {
      line-height: 1.67;
      text-align: left;
      margin-bottom: 0;
      font-size: 16px;
      margin-bottom: 10px;

      &:first-of-type {
        margin-bottom: 20px;
      }

      svg {
        color: #e8c300;
      }
    }
  }
  .services-image {
    width: 80%;
    height: 250px;
    background-image: url("./images/services-bg.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 0 10px 10px -5px;
    display: block;
    margin-left: auto;
    position: relative;
    border-radius: 5px;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 150px;
      height: 150px;
      border: 10px solid #e8c300;
      border-radius: 5px;
    }
  }
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
}
