* {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  font-family: "Montserrat", sans-serif;
}

#home {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./images//yarn-bg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 400px;
  padding-top: 115px;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.clicked {
  background: red;
}
