@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700);

* {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  font-family: "Montserrat", sans-serif;
}

#home {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./images//yarn-bg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 400px;
  padding-top: 115px;

  .header {
    h1 {
      font-weight: bold;
      color: #ffffff;
      font-size: 35px;
      text-transform: uppercase;
      text-align: left;
      line-height: 1.2;
      margin-top: 0;
      letter-spacing: 0.9px;
      margin-bottom: 37px;
      text-align: center;
    }

    span {
      color: #e8c300;
    }
  }

  .buttons-container {
    display: flex;
    justify-content: space-around;
    button {
      width: 130px;
      height: 40px;
      color: #ffffff;
      border-radius: 5px;
      border: none;

      &:first-of-type {
        background: #e8c300;
      }

      &:last-of-type {
        background: transparent;
        border: 1px solid #ffffff;
      }
    }
  }
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
}
